<html>
<head>
    <title>Insertar coordenadas</title>
</head>
<body>

<h1>Inserte coordenadas</h1>

<form action="/coords/" method="post">
{% csrf_token %}
<p>Usuario (nick): <input type="text" name="nick"></p>
<p>Latitud: <input type="text" name="lat"></p>
<p>Longitud: <input type="text" name="lon"></p>
<p>Altura: <input type="text" name="alt"></p>
<input type="submit" value="Submit">
</form>

</body>
</html>
