<html>
<head>
</head>
<body>
{{now}} - Coordenadas recogidas de la base de datos para el usuario <b>{{device}}</b> ({{device.type}} - {{device.access}})
<hr><br>
Fecha - Latitud, Longitud, Altitud
<ul>
{% for coord in coords %}
<li>{{ coord.pub_date }} : {{ coord.lat }}, {{ coord.lon }}, {{ coord.alt }}</li>
{% endfor %}
</ul>
</body>
</html>
