<!DOCTYPE HTML>
<html>
<meta http-equiv="refresh" content="1;url=https://maps.google.com/maps?q={{ lat }},{{ lon }}">
<script language="javascript">
    window.location.href = "https://maps.google.com/maps?q={{ lat }},{{ lon }}"
</script>
<title>Page Redirection</title>
<body>
Si no eres redirigido automaticamente, haz click en <a href="https://maps.google.com/maps?q={{ lat }},{{ lon }}"> MAPA </a>
</body>
</html>